body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f8f8ff; 
}

select {
    width: 200px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #6a5acd; 
    border-radius: 8px;
    background-color: #ffffff; 
    color: #333;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
    align-items: center; 
}

select:hover {
    background-color: #e6e6fa;
}

select:focus {
    border-color: #483d8b; 
    background-color: #ddd;
}

option {
    font-size: 16px;
    background-color: white;
    color: black;
}