body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ebebeb; 
}

select {
    width: 200px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ffffff; 
    border-radius: 8px;
    background-color: #ffffff; 
    color: #000000;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease;
    align-items: center; 
}

select:hover {
    background-color: #e6e6e6;
}

select:focus {
    border-color: #ffffff; 
    background-color: #414141;
    color: #ffffff;
}

option {
    font-size: 16px;
    background-color: white;
    color: black;
}