* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    height: 96vh;
    background-color: #e6e6e6;
    font-family: 'Prompt', sans-serif;
    text-align: center; 
}

.profile_card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center; 
    width: 400px;
    height: 700px;
    background-color: #ffffff;
    box-shadow: 0 4vh 8vh rgba(0, 0, 0, 0.2);
    overflow: hidden;
}


#header {
    font-size: 48px;
    font-weight: Bold;
    margin-bottom: 8px;
    text-align: center;
    color: rgb(102, 102, 102);
}

#picture {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0;
    flex-grow: 1;
}

.data-cell {
    text-align: center;
    vertical-align: top;
}



#empty{
    height:15%
}
#name{
    font-size: 30px;
    height: 10%;
}
#desc1{
    color: rgb(145, 145, 145);
    font-size: 25px;
    height: 13%
}
#contract {
    vertical-align: middle;
    background: rgb(79, 79, 95);
    color: white;
    width: 100%;
    height: 20%;
    cursor: pointer;
    text-decoration: none;
}

#contract a {
    color: white;
    text-decoration: none;
}

#contract:hover {
    background-color:rgb(156, 25, 25) ;
    transition: background-color 0.3s ease;
}

#icon {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 30px; 
    width: 100%;
    height: 5%;
    flex-wrap: wrap; 
}

#icon img {
    width: 30px; 
    height: 30px;
    object-fit: contain; 
}

